@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "css/bootstrap.css";

html body {
  /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !im;
    margin-bottom: 50px;
    margin-top: 0;
    position: relative; */
  font-family: "Inter", sans-serif;
  background-repeat: no-repeat;
  background-size: fill;
  background-color: #151719 !important;
  min-height: 70vh;
  color: #9ca9b3;
  font-size: 1rem;
}

footer {
  /* background-color: #f5f5f5; */
  /* bottom: -50px; */
  /* height: 60px; */
  position: relative;
  width: 100%;
}

.row {
  /* background-color: #2f2e33; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.score__section {
  padding: 55px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #1c2237;
}

.score__container-card {
  background-color: #072a4d;
}

.score__container-card:nth-child(2) {
  transform: scale(1.01);
  background: #350000;
}

/* .score__container-card:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-out;
  color: #1c2237;
} */
.score__container-card:nth-child(2) {
  margin: 0 24px;
}

.score__container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.score__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.containerp {
}

.score_best {
  width: 320px;
  /* width of container */
  height: 180px;
  /* height of container */
  object-fit: cover;
  /* border: 5px solid rgb(255, 255, 255); */
}

.image-wrapper {
}

.hover-1 {
  padding-top: 10px;
}

.hover-1:before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #492059;
  transform: scaleX(0);
}

/* .hover-1:hover:before {
  transform: scaleX(1);
} */
.score_second {
  /* background: url(images/sample_thumbnail_02.jpg); */
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 300px;
}

.image-wrapper img {
  /* position: fixed; */
  /* overflow: hidden;
  object-fit: fit;
  /* width: 100%;
  height: 100%;  */
  /* display: block; */
  /* max-width: 100%;
  max-height: 56%;
  width: auto;
  height: auto; */
}

.score__heading {
  color: #ffffff;
  margin-bottom: 24px;
}

.score__container-cardInfo {
  display: flex;
  flex-direction: column;
  /* height: 500px; */
  padding: 12px;
  align-items: center;
  color: #fff;
}

.score__container-cardInfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
}

.score__container-cardInfo h4 {
  font-size: 40px;
}

.score__container-cardInfo p {
  font-size: 14px;
  margin-bottom: 24px;
}

.score__container-features {
  margin: 16px 0 32px;
  list-style: none;
}

.score__container-features li {
  margin-bottom: 10px;
}

.score__container-features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  margin: 24px 0;
}

@media screen and (max-width: 960px) {
  .score__container {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .score__container-card {
    width: 90%;
  }

  .score__wrapper {
    margin: 0 30px;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
  }

  .score__container-card:nth-child(2) {
    transform: scale(1);
    background: #242424;
    margin: 24px;
  }

  /* .score__container-card:hover {
    transform: none;
  } */
}

.home__hero-section {
  color: #fff;
  padding: 50px 0;
  /* margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%; */
}

.home__hero-row {
  align-items: center;
  padding-top: 5%;
  background-color: rgba(52, 58, 64, 0);
  min-width: 560px;
}

.row {
  /* display: flex; */
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 640px;
  padding-top: 0;
  padding-bottom: 40px;
  margin-left: 10px;
}

.top-line {
  color: #5658dd;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  /* letter-spacing: 1.4px; */
  text-transform: uppercase;
  margin-bottom: 16px;
}

.large-heading {
  margin-bottom: 24px;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 700;
  color: #f7f8fa;
  text-align: center;
}

.heading {
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 1.1;
  font-weight: 700;
  color: #f7f8fa;
}

.dark {
  color: #000000;
}

.darkBg {
  background-color: #1c2237;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
  color: #9ca9b3;
  /* margin-left: 50px; */
}

.home__hero-img-wrapper {
  max-width: 555px;
  /* background: url(images/svg-11.svg) center/cover no-repeat; */
  height: 200px;
  /* overflow: hidden; */
}

.home__hero-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 100px;
  margin-left: 50px;
  padding-right: 0;
}

.align_hero {
  margin-left: 30px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

.contactUs {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-color: rgb(31, 32, 37);
}

.contact {
  position: relative;
  min-height: 80vh;
  padding: 40px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}

.contact .content {
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
  color: snow;
}

.contact .content p {
  font-weight: 300;
  color: snow;
}

.contactcontainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: #28282c;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
} */

.contactBox {
  position: relative;
  padding: 30px 0;
  display: flex;
}

form {
  width: 100%;
}

.inputBox {
  padding: 12px 0px;
}

.contactBox .iconContact {
  min-width: 60px;
  height: 60px;
  /*width: 60px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  background-color: #1c2237;
}

.contactBox .contactText {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.contactBox form h2 {
  font-weight: 600 !important;
  color: #bdbdbd;
}

/* {
  width: 40%;
  padding: 40px;
  background: white;
  margin-left: 25px;
} */

h3 {
  font-size: 30px;
  color: rgb(197, 197, 197);
  font-weight: 600 !important;
}

/* {
  position: relative;
  width: 100%;
  margin-top: 10px;
} */

textarea,
input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

span {
  position: absolute;
  left: 0;
  padding: 5px;
  font-size: 16px;
  margin: 1px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

input:focus ~ span,
input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span {
  color: #ffffff;
  font-size: 12px;
  transform: translateY(-25px);
}

input[type="submit"] {
  width: 100%;
  background: #1c2237;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .contactcontainer {
    flex-direction: column;
  }
 

  .contactcontainer .contactInfo {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aboutUs {
  display: grid;
  background-color: #1c2237;
  align-content: center;
  min-height: 100vh;
  padding-top: 100px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
  width: 85vw;
  margin: 0 auto;
}

.image {
  background: #054f59;
  /* background: url(images/tree.png) center/cover no-repeat; */
}

.contentAbout {
  /* background: #fff; */
  /* display: flex; */
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}

.contentAbout h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  opacity: 0.9;
}

.contentAbout span {
  height: 0.5px;
  width: 80px;
  background: #777;
  margin: 30px 0;
}

.contentAbout p {
  padding-bottom: 15px;
  font-weight: 300;
  opacity: 0.7;
  width: 60%;
  /* text-align: center; */
  margin: 0 auto;
  line-height: 1.7;
}

.icons {
  /* display: flex; */
  padding: 15px 0;
}

.icons li {
  display: block;
  padding: 5px;
  margin: 5px;
}

.icons li i {
  font-size: 26px;
  opacity: 0.8;
}

.icons li i:hover {
  color: #06d6a0;
}

@media (max-width: 992px) {
  .about {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .image {
    height: 100vh;
    display: none;
  }

  .contentAbout {
    height: 100vh;
  }

  .contentAbout h2 {
    font-size: 20px;
    margin-top: 50px;
  }

  .contentAbout span {
    margin: 20px 0;
  }

  .contentAbout p {
    font-size: 14px;
  }

  .icons li i {
    font-size: 15px;
  }
}

nav {
  width: 100%;
  /* height: 40px; */
}

.nav a {
  /* color: white !important; */
  font-size: 1.8em !important;
}

.nav li {
  padding-right: 5px;
}

.nav-link {
  font-size: 13px;
}

.divider-vertical {
  /* height: 50px; */
  margin: 0 9px;
  border-left: 1px solid #878787;
  border-right: 1px solid rgb(100, 100, 100);
}

.b1 {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  /* width: 100%; */
  min-height: 100vh;
  /* padding: 0 20px; */
  /* background: #e9e9e9; */
  /* display: flex;  */
}

.login .row {
  height: 100%;
}

.login .loginContainer:hover {
  /* transform: scale(1.06); */
  /* transition: all 0.3s ease-out; */
  color: #1c2237;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  /* color: white; */
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.video_tumbnail-box {
  background: linear-gradient(45deg, #6d6d6c 0%, #bdbcb9 100%);
  box-shadow: 0 6px 20px rgba(134, 153, 189, 0.2);
  /*width: 470px; */
  height: 300px;
  text-decoration: none;
  border-radius: 5px;
}

.video_icon.icon {
  justify-content: center;
  align-items: center;
  /* color: white; */
}

.up_icons li i {
  font-size: 26px;
  opacity: 0.8;
  font-weight: 300;
  color: snow;
  text-align: center;
}

.hidden {
  display: none;
}

.navbar-dark {
  background-color: #1c2237 !important;
}

.bg-dark {
  background-color: #1c2237;
}

.home__jumbo-text-wrapper {
  padding: 0px 150px;
}

.home__jumbo-subtitle {
  text-align: center;
  font-size: 1.2rem;

  color: #9ca9b3;
}

.btn {
  border-radius: 0px !important;
  padding: 11px 50px !important;
  font-weight: 600 !important;
}
.btn-small {
  border-radius: 0px !important;
  padding: 8px 50px !important;
  font-weight: 600 !important;
}


footer .btn {
  /* border-radius: 0px !important; */
  padding: 5px 10px !important;
  /* font-weight: 600 !important; */
}

.tiles-item-inner {
  /* display: flex; */
  /* flex-wrap: wrap;
  flex-direction: column; */
  height: 100%;
  padding: 32px 24px;
}

.features-tiles-item-image {
  /* display: inline-flex; */
  border-radius: 100%;
  /* background-color: #5658DD;
  padding: 7px;
  height: 80px;
  width: 80px; */
}

.tiles-item * {
  box-sizing: border-box;
}

.white {
  color: white;
}

.footer p {
  /* color: red; */
  font-size: 12px;
  color: #9ca9b3;
}

.footer section .row ul li a {
  /* color: red !important; */

  font-size: 12px;
  color: #9ca9b3 !important;
}

/* 
.nav-pills .nav-item{
  border-radius: 0px !important;
  background-color: #01388b;
  padding: 20px;
  margin: 5px;
  font-size: 12px !important;
}


.progress{
  border-radius: 0px !important;
}


.container{
  border: 1px solid white;
}


.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
} */

/* .custom-fileinput{
  border-radius: 0px !important;
  border: 2px black solid;
} */

.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.file-upload .file-select {
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}
.file-upload .file-select:hover {
  border-color: #2865a2;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}




@import url("/src/css/youtubestyle.css");







