/* import 'bootstrap/dist/css/bootstrap.min.css'; */
body{background-color: black;}

button{
    background-color: #333;
  color: white;
  font-size: 20px;
   padding: 10px 60px;
  /* border-radius: 5px; */
 margin: 10px 25px; 
  cursor: pointer;
}